.d3-chart {
  width: 1000px;
  height: 400px;
}

.d3-chart .axis path,
.d3-chart .axis line {
  stroke: #999;
}

.d3-chart .axis text {
  fill: #999;
}
@media screen and  (min-width: 200px) and (max-width: 488px){
    .d3-chart {
        width: 300px;
        height: 150px;
      }
}
@media screen and (min-width: 488px) and (max-width: 600px) {
    .d3-chart {
        width: 450px;
        height: 200px;
      }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
    .d3-chart {
        width: 600px;
        height: 250px;
      }
}
@media screen and (min-width: 700px) and (max-width: 800px) {
    .d3-chart {
        width: 680px;
        height: 250px;
      }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
    .d3-chart {
        width: 780px;
        height: 300px;
      }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .d3-chart {
        width: 980px;
        height: 300px;
      }
}