<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">
            <i class="fa fa-bars" aria-hidden="true" style="color: #106d64;"  *ngIf="!collapsed"></i>
            <i class="fa fa-tasks" aria-hidden="true"  style="color: #106d64;"   *ngIf="collapsed"></i>
        </button>
        <div class="logo-text"  *ngIf="collapsed">Beinex</div>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">
                    {{data.label}}
                </span>
            </a>
        </li>
    </ul>
</div>