<div class="row p-0">
    <div class="col-1" style="background-color:#064842;border-radius: 35px;">
        &nbsp;
    </div>
    <div class="col-5 p-0" style="text-align: center;font-size: small;">
        <span>Chairman office</span>
    </div>
    <div class="col-1" style="background-color:#2c8f85;border-radius: 35px;">
        &nbsp;
    </div>
    <div class="col-4 p-0" style="text-align: center;font-size: small;">
        <span>DOH Sector</span>
    </div>
</div>
<div class="row">
    <div class="col-12">
<figure id="donut"></figure>
    </div>
</div>
